@import url("https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap");

:root {
  --red: #f64a4a;
  --orange: #fb7c58;
  --yellow: #f8cd65;
  --neon-green: #a4ffaf;
  --almost-white: #f0f0f0;
  --grey: #808080;
  --dark-grey: #404040;
  --very-dark-grey: #202020;
  --large-font-size: 32px;
  --medium-font-size: 24px;
  --small-font-size: 18px;
  --font: "JetBrains Mono", monospace;
}
